.row {
    background-color:#FFFFFF;
    color: #000000;
    border-top: 2px solid #666666;
    padding-top: 40px;
    padding-bottom: 40px;
}
.navbar {
    background-color:#7cf87c;
}

.flyer-row {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

h1, h4 {
    color: #EB5F0C;
}

#welcome {
    padding-top: 150px;
}

.btn-primary{
background-color: #68889E;
color:#FFF;
border-color: #2F3E48;
margin-left:10px;
}

img {
  max-width: 5%;
  height: auto;
}
